#search-box {
    padding: 20px;
}

.side-bar {
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

#current-stats {
    border:  rgb(224, 224, 224);
    border-width: thin;
    border-radius: 10px;
    border-style: solid;
    margin: 20px;
}

.weather-block {
    margin: 10px;
    width: 100px;
    height: 120px;
    float: left;
    background-color: skyblue;
    border-radius: 10px;
}

li:hover {
    background-color: rgb(252, 252, 252);
}

img {
    width: 30px;
    height: 30px;
}