#search-box {
    padding: 20px;
}

nav {
    background-color: rgb(34, 34, 34);
    height: 70px;
    color: white;
    text-align: center;
    font-size: 40px;
}

h4 {
    margin-left: 10px;
}

#search-button {
    color: rgb(32, 42, 177);
    border-color: rgb(32, 42, 177);
}

#search-button:hover {
    background-color: rgb(32, 42, 177);
    color: white;
}

.side-bar {
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

#current-stats {
    border:  rgb(224, 224, 224);
    border-width: thin;
    border-radius: 10px;
    border-style: solid;
    margin: 20px;
}

.weather-block {
    margin: 10px;
    width: 120px;
    height: 150px;
    padding: 10px;
    float: left;
    background-color: rgb(32, 42, 177);
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

li:hover {
    background-color: rgb(252, 252, 252);
    cursor: pointer;
}

i {
    font-size: 25px;
    padding: 10px;
}

.uv-severe {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.uv-moderate {
    background: rgb(247, 165, 13);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.uv-favorable {
    background: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.list-group {
    margin-top: 10px;
}

@media screen and (max-width: 400px) {
    .weather-block {
        margin-right: 100px;
    }
}